/* content */
.wrap
{
    min-height: 70%;
    padding-top: 10px;
}
.grid-container
{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 15px;
	background: rgba(238,174,202);
	background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,0) 100%);
	
}
.grid-container:before,
.grid-container:after
{
    display: table;
    clear: both;

    content: ' ';
}
.grid-80,
.grid-20
{
    position: relative;

    float: left;

    padding-right: 15px;
    padding-left: 15px;
}
.grid-80
{
    width: 75%;
}
.grid-20
{
    width: 25%;
}
.grid-block:before,
.grid-block:after
{
    display: table;
    clear: both;

    content: ' ';
}
.home-carousel p {
	background-color: #111;
	z-index: 100;
	margin-top: -1px;
	color: #bbb;
	padding: 2px 2px 2px 2px;
	font-size: 10px;
}
.home-carousel img 
{
	height: auto;
	width: 100%;
}
.index-intro-img
{
    display: block;
    float: left;
    /*display: inline-block;*/

    padding-right: 20px;
}
.index-intro-text
{
    padding-left: 0px;
	text-align: justify;
}
.index-dirmsg
{
    padding-top: 0px;
	text-align: justify;
}

.jafbutton {
    display:inline-block;
    font-size: 20px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    padding: 5px;
    background-color: #a6a6a6;
}

.tab{
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #73AD21;
}

.tabhead {
    box-shadow: 5px 5px 5px #888888;
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding-left: 15px;
}

.tabbody{
    padding: 10px;
}

/*side bar*/

.panel
{
    margin-bottom: 20px;
	box-shadow: 10px 10px 5px #888888;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.4);
    /*padding-bottom: 200px;*/
    /*border-radius: 3px;*/
    background-color: #f9f9f9;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.3);*/
}
.panel-head
{
    /*font-weight: bold;*/
    font-size: 16px;
    /*color:white;*/
    /*padding: 15px 15px 0 15px;*/

    padding-bottom: 10px;

    text-align: center;

    color: #000;
    /*border-radius: 3px 3px 0 0 ;*/
}
.panel-head:after,
.panel-head:before
{
    display: table;
    clear: both;

    content: '  ';
}
.panel-tab
{
    float: left;
	
    width: 50%;
    padding: 15px 15px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #fff;
    /*display: inline-block;
    background-image: linear-gradient(to bottom, #256d9c, #17232b) ;*/
	background: rgb(63,114,251);
    background: radial-gradient(circle, rgba(63,114,251,1) 0%, rgba(252,70,107,1) 100%);
}
.panel-tab.inactive
{
    background-color: rgba(23, 35, 43, 0.47);
}
.panel-tab.active
{
    color: black;
    background-color: #f9f9f9;
}
.panel-tab-full
{
    width: 100%;
}
.panel-content
{
    padding: 15px;
}
.form-group
{
    margin-bottom: 10px;
}
.form-group label
{
    padding-bottom: 5px;
}
.form-input
{
    font-size: 14px;

    display: block;

    width: 100%;
    height: 34px;
    padding: 6px 12px;

    -webkit-transition: border-color ease-in-out .3s;
         -o-transition: border-color ease-in-out .3s;
            transition: border-color ease-in-out .3s;
    /*background-color: #fff;*/
    /*background-image: none;*/

    border: 1px solid #666;
    /*border-radius: 3px;*/
}
.form-input:focus
{
    border-color: #17232b   ;
    outline: 0;
    box-shadow:5px 5px 5px 2px #888;
}
.form-input-file
{
    font-size: 14px;

    display: block;

    width: 100%;
    height: 34px;
/*    padding: 6px 12px;*/

    -webkit-transition: border-color ease-in-out .3s;
         -o-transition: border-color ease-in-out .3s;
            transition: border-color ease-in-out .3s;
    /*background-color: #fff;*/
    /*background-image: none;*/

    border: 0;
    /*border-radius: 3px;*/
}
.form-input-file:focus
{
    outline: 0;
}

.btn-submit
{
    font-size: 14px;

    display: block;

    width: 100%;
    margin-top: 28px;
    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: border-color ease-in-out .3s,color ease-in-out .3s;
         -o-transition: border-color ease-in-out .3s,color ease-in-out .3s;
            transition: border-color ease-in-out .3s,color ease-in-out .3s;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #888;
    border: 1px solid #ccc;
    /*border-radius: 15px;*/
    background-color: #fff;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit.focus
{
    text-decoration: none;

    color: #285690 ;
    border: 1px solid #285690;
    /*background-color: #285690;*/
}

.btn-reg
{
    font-size: 14px;

    display: block;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px 12px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: border-color ease-in-out .3s,color ease-in-out .3s;
         -o-transition: border-color ease-in-out .3s,color ease-in-out .3s;
            transition: border-color ease-in-out .3s,color ease-in-out .3s;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #fff;
    /*border-radius: 15px;
    background-color: #285690;
    background: #256d9c;*/
  background-image: -webkit-linear-gradient(top, #256d9c, #144563);
  background-image: -moz-linear-gradient(top, #256d9c, #144563);
  background-image: -ms-linear-gradient(top, #256d9c, #144563);
  background-image: -o-linear-gradient(top, #256d9c, #144563);
  background-image: linear-gradient(to bottom, #256d9c, #144563);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ff33bb;
  font-size: 25px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.btn-reg:hover, .btn-reg:focus, .btn-reg.focus {
    color: #fff ;
    border: 1px solid #285690;
    /*background-color: #285690;*/
  
  background: #3cb0fd; 
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.external{
    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,0) 100%);
}

.bggrid{
    
    margin: 0 10%;
}

.aboutContent{
    padding: 0 2%;
    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,0) 100%);
    color: #222;
}
.instiImage {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    margin: 50px 0;
  }
  
  .instiImage img{
    height: 100%;
    width: 100%;
  }

  .container {
    display: flex;
  }
  
  .content {
    flex: 3;
    padding-right: 20px; /* Adjust as needed for spacing between content and image */
  }
  
  .image {
    flex: 2;
    margin: 5%;
  }
  
  /* Assuming your image should take up the full width of its container */
  .image img {
    width: 100%;
    height: auto;
  }
  
  .titleContent{
    display: inline;
    border-bottom: 1px solid rgba(0,0,0,.4);
    padding-bottom: 5px;
  }